app/pb_data
app/test_pb_data/logs.db
app/test_pb_data/auxiliary.db
app/coverage.out

# the built binary
app/tybalt

# the built ui
app/pb_public/

# import data
import_data/*.parquet
import_data/*.duckdb

.env